<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '1_2_aboutUs_page/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}" sizes="32x32">
    <title>SmartLib-About Us</title>
</head>
<body>
    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                At the Smart Library, we believe that learning should be seamless,
                 efficient, and accessible from anywhere, at any time. 
                 Our state-of-the-art digital library is more than just a repository.
                 it is a dynamic hub where knowledge meets technology, 
                 offering a personalized and user-friendly experience for students across all disciplines.
            </p>
            <div class="ContactUsBtn">
                <button onclick="location.href='mailto:smartlibpro@gmail.com';">Contact Us</button>
            </div>            
        </div>
    </div>
</body>
</html>