<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '1_3_privacyPolicy_page/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}" sizes="32x32">
    <title>SmartLib-Privacy Policy</title>
</head>
<body>
    <div class="about">
        <div class="inner-section">
            <h1>Privacy Policy</h1>
            <p class="text">
                At SmartLib, we are committed to protecting your data and ensuring that your experience is secure and seamless. Here are our core principles:
            </p>
            <ul class="text">
                <li>Password encryption: We use advanced encryption algorithms to protect your password information, ensuring it is secure from unauthorized access.</li>
                <br>
                <li>Data minimization: We only collect the necessary data required for providing a personalized experience.</li>
                <br>
                <li>User control: You have complete control over your data and can update or delete your personal information at any time.</li>
                <br>
                <li>Secure access: All user sessions are encrypted using HTTPS to safeguard your interactions with our platform.</li>
            </ul>
        </div>
    </div>
</body>
</html>
