<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static '5_4_reset_password_page/style.css' %}"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    <title>SmartLib-Reset Password</title>
</head>
<body> 

    <!-- Header -->
    <header>
        <a class="logo" id="logo" href="{% url 'loginPage' %}"><img src="{% static 'images/logo.png' %}" width='60' height='60'></a>
    </header>

    <!-- Main -->
    <main>
        <div class="container" id="container">
            <div class="reset-password" id="reset-password">
                <h1>Reset your password</h1>
                <p>Enter your new password. You will be logged out <br>of all your active sessions.</p>
                <br>
                
                <form>
                    <input id="password" type="password" name="new_password" placeholder="New Password">
                    <br>
                    <br>
                    <input id="confirm-password" type="password" name="confirm_password" placeholder="Confirm Password">
                    <p id="error" class="error">Please fill all fields.</p>

                    <button id="reset_btn" type="submit">Reset Password</button>
                </form>

            </div>

            <div class="image_container" id="image_container">
                <img src="{% static 'images/password.png' %}" width="250" height="250">
            </div>
        </div>
        
    </main>

    <!-- Script -->
    <script src="{% static '5_4_reset_password_page/script.js' %}"></script>

<br><Br>
    <!-- Footer -->
    <footer>
        <p>&copy; 2025 SmartLib. All Rights Reserved.</p>
    </footer>

</body>
