@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* body */
body{
    background-color: #ffffff;
}
/*=============================================================*/

/* header */
header{
    background-color: #3f48cc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 100px;
    width: 100%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

/*-------------------------------------------------------------*/
/* left-header-container */
.left-header-container{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left-header-container .logo{
    border-radius: 50%;
    width: 66px;
    height: 66px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    margin-right: 40px;
    border: 3px solid transparent;
    background-color: white;
    transition: border-color 0.3s ease;
}



.left-header-container .Categories {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.left-header-container .Categories:hover,
.left-header-container .Categories.active { 
    color: #FFD700;
}

.left-header-container .dropdown-categories {
    display: none;
    position: absolute;
    height: 200px;
    top: 64px;
    left: 106px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    z-index: 1;
    max-height: 280px;
    overflow-y: auto;
    border-radius: 10px;
}

.left-header-container .dropdown-categories li {
    padding: 8px 15px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: color 0.3s ease;
}

.left-header-container .dropdown-categories li:hover {
    color: #FFD700;
    background-color: #fef7f7;
}

.left-header-container .dropdown-categories::-webkit-scrollbar {
    width: 10px;
}

.left-header-container .dropdown-categories::-webkit-scrollbar-thumb {
    background-color: #3f48cc;
    border-radius: 10px;
}

.left-header-container .dropdown-categories::-webkit-scrollbar-track {
    background: #b7b7b7;
}

.left-header-container .search{
    display: flex;
    align-items: center;
    background-color: #f0f5f4;
    border: 1px solid #d9e6e5;
    border-radius: 40px;
    padding: 10px 20px;
    width: 800px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.left-header-container .search .search-icon{
    color: #b7bbba;
    margin-right: 10px;
    cursor: not-allowed;
}

.left-header-container .search .search-input{
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 16px;
    color: #414040;
}

.left-header-container .search .search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.left-header-container .search .search-input::placeholder {
    color: #b7bbba;
    font-size: 16px;
}


/*-------------------------------------------------------------*/
/* right-header-container */
.right-header-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.right-header-container .help{
    margin-right: 30px;
}

.right-header-container .fav_list {
    margin-right: 3px;
}

.right-header-container .fav_list .img_fav_list{
    width: 24px;
    height: 25px;
    transition: content 0.3s ease; /* Smooth transition for icon change */
}


.right-header-container .fav_list_dropdown {
    display: none;
    position: absolute;
    height: 100px;
    width: 300px;
    top: 78px;
    right: 130px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 6px 10px;
    z-index: 1;
    max-height: 250px;
    overflow-y: auto;
    border-radius: 10px;
}


.right-header-container .notification .img_notification{
    width: 24px;
    height: 25px;
    transition: content 0.3s ease; /* Smooth transition for icon change */
}

.right-header-container .notification_dropdown {
    display: none;
    position: absolute;
    height: 100px;
    width: 300px;
    top: 78px; 
    right: 76px; 
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    z-index: 1; 
    max-height: 250px; /* dont forget this when increase height (40px)*/
    overflow-y: auto; 
    border-radius: 10px;
}

.right-header-container .user .img_user{
    width: 25px;
    height: 25px;
    transition: content 0.3s ease; /* Smooth transition for icon change */ 
}

.right-header-container .dropdown-user {
    display: none;
    position: absolute;
    height: 250px;
    top: 78px; 
    right: 20px; 
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    z-index: 1; 
    max-height: 250px; /* dont forget this when increase height (40px)*/
    overflow-y: auto; 
    border-radius: 10px;
}

.right-header-container .dropdown-user li {
    padding: 8px 15px;
    cursor: pointer;
    border: 2px solid transparent; 
    border-radius: 4px;
    transition: color 0.3s ease;
}

.right-header-container .dropdown-user li:hover {
    color: #FFD700;
    background-color: #fef7f7;
}

.right-header-container .feedback-stack {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.right-header-container .feedback-stack .feedback-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 600px;
    position: relative;
}

.right-header-container .feedback-stack .feedback-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.right-header-container .feedback-stack .feedback-content textarea {
    width: 560px !important;
    max-width: 560px;
    height: 130px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    word-wrap: break-word;
    resize: none;
}

.right-header-container .feedback-stack .feedback-content textarea:focus {
    border-color: #3f48cc; 
    outline: none;
}

.right-header-container .feedback-stack .feedback-content textarea::-webkit-scrollbar {
    width: 10px;
}

.right-header-container .feedback-stack .feedback-content textarea::-webkit-scrollbar-thumb {
    background-color: #3f48cc;
    border-radius: 10px;
}

.right-header-container .feedback-stack .feedback-content textarea::-webkit-scrollbar-track {
    background: #b7b7b7;
    border-radius: 10px;
}

.right-header-container .feedback-stack .feedback-content button {
    width: 100%;
    padding: 10px;
    background-color: #3f48cc;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.right-header-container .feedback-stack .feedback-content button:hover {
    background-color: #575fd5;
}

/* Close button */
.right-header-container .feedback-stack .close-btn {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 40px;
    cursor: pointer;
    color: #aaa;
    transition: color 0.3s ease;
}

.right-header-container .feedback-stack .close-btn:hover {
    color: #3f48cc;
}

/*=============================================================*/

/* Main */

main {
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 30px;
}

/*-------------------------------------------------------------*/
/* top_main_container*/
.top_main_container{
    display: flex;
    flex-direction: column; 
    gap: 50px;
    margin-bottom: 100px;
}

.top_main_container .points{
    background-color: #3f48cc19;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-items: center;
    margin-left: auto;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.top_main_container .points img {
    margin-left: 10px;
}

.top_main_container .points .num_points {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #FFA500;
}

/* Progress Section */
.top_main_container .progress-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.top_main_container .progress-section .progress-bar {
    position: relative;
    width: 1300px;
    height: 20px;
    background-color: #3f48cc19;
    border-radius: 10px;
    margin-bottom: 10px;
}

.top_main_container .progress-section .progress-bar .line1{
    content: "";
    position: absolute;
    left: 415px;  
    top: 0;
    height: 100%;
    width: 2px;
    background-color: black;
    z-index: 2;
}

.top_main_container .progress-section .progress-bar .line2{
    content: "";
    position: absolute;
    left: 850px;  
    top: 0;
    height: 100%;
    width: 2px;
    background-color: black;
    z-index: 2;
}


.top_main_container .progress-section .progress-bar .triangle-cursor {
    position: absolute;
    left: 0; /* Initial position, will be updated dynamically */
    top: -30px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 15px solid #FFA500;
}

.top_main_container .progress-section .progress-bar .progress-fill {
    height: 100%;
    width: 0; /* Initial width, will be updated dynamically */
    background-color: #3f48cc;
    border-radius: 10px;
}

.top_main_container .progress-section .progress-labels {
    display: flex;    
    gap: 375px;
    width: 1300px;
}

.top_main_container .progress-section .progress-labels span .rank-point{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.top_main_container .progress-section .progress-labels span .rank-point img {
    transition: transform 0.3s ease;
}

.top_main_container .progress-section .progress-labels span .rank-point:hover img {
    transform: scale(1.1);
}

.top_main_container .progress-section .progress-labels span .rank-point p{
    font-size: 16px;
    color: #3f48cc;
}

.top_main_container .progress-section .progress-labels span .rank-point .rank-point-details {
    display: none; 
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000;
    position: absolute;
    top: 340px; 
    left: 350px; 
    transform: translateX(-50%);
    width: 250px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.top_main_container .progress-section .progress-labels span .rank-point:hover .rank-point-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_main_container .progress-section .progress-labels span .rank-point:hover .rank-point-details .rank-point-details-top{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.top_main_container .progress-section .progress-labels span .rank-point .rank-point-details p{
    font-size: 16px;
    color: #222121;
}



/*-------------------------------------------------------------*/
/* bottom_main_container*/
.bottom_main_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottom_main_container .mission {
    display: flex;
    align-items: center;
    background-color: #3f48cc07;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 2px solid #66666627; 
    transition: border-color 0.18s ease-in-out; 
}

.bottom_main_container .mission:hover {
    border-width: 2px;
    border-color: #FFA500; 
}

.bottom_main_container .mission-icon {
    margin-right: 20px;
}

.bottom_main_container .mission-info {
    flex-grow: 1;
}

.bottom_main_container .mission-info .mission-date {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.bottom_main_container .mission-info .mission-desc {
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
}

.bottom_main_container .mission-info .mission-points {
    font-size: 18px;
    font-weight: bold;
    color: #FFA500;
}

.bottom_main_container button{
    margin-top: 20px;
    padding: 10px 20px;
    width: 120px;
    background-color: #3f48cc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}

.bottom_main_container button:hover{
    background-color: #575fd5;
}


/*=============================================================*/

/* footer */
footer{
    background-color: #222121;
    color: #fff;
    padding: 50px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h3{
    font-size: 48px;
    margin-top: 6px;
}

footer .right{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
}

footer .right .links{
    display: flex;
    gap: 30px;
}

footer .right .links a{
    color: #989898;
    transition: color 0.3s ease;
    text-decoration: none;
}

footer .right .links a:hover{
    color: #fff;
    text-decoration: underline;
}

footer .right .social{
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .right .social i{
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}

footer .right .social i:hover{
    color: #3f48cc;
}

footer .right p{
    font-size: 13px;
    color: #777;
}